@model PaginatedList<Customer>
<link href="@Url.Content("~/css/Index.css")" rel="stylesheet">

<div class="container">
    
    <div class="centered text">
        <h2>Customer List</h2>
    </div>

    <div>
        <a asp-action="Create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Create New</a>
    </div>
<form asp-action="Index" method="get">
    <p>
        Name: <input type="text" name="searchString">
        <input type="submit" value="Search" />
    </p>
</form>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Cusomter's Name
                </th>

                <th>Phone Number</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                            <a asp-action="Edit" asp-route-id="@item.CustomerID" style="background-color: #0099FF;" class="link-edit">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.CustomerID" style="background-color: #0033CC;" class="link-details">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No customers found.</p>
}
    </div>

<div class="pagination" id="notes-pagination">
    @if (Model.HasPreviousPage)
    {
        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)">Previous</a>
    }
    else
    {
        <span>Previous</span>
    }

    <span> @Model.PageIndex </span>

    @if (Model.HasNextPage)
    {
        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)">Next</a>
    }
    else
    {
        <span> Next</span>
    }
</div>
